@import '../../styles/utilities/layout.module.css';

.headerLayoutWrapper.headerLayoutWrapper {
    width: 100%;
    height: var(--header-height);
    padding: 0.5rem 1rem;

    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;

    /* background: color-mix(in srgb, var(--background) 90%, transparent); */
    background: var(--background);
}

.layoutWrapper {
    composes: relative from '../../styles/utilities/layout.module.css';
}

.layoutWrapper.layoutWrapper {
    height: auto;
    overflow: hidden;
    min-height: 100vh;
}

.contentLayoutWrapper {
    composes: flex column center from '../../styles/utilities/layout.module.css';
}

.contentLayoutWrapper.contentLayoutWrapper {
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
