@import '../../styles/utilities/layout.module.css';

.flexBetween {
    composes: flex between w100 from '../../styles/utilities/layout.module.css';
}

.flexCenter {
    composes: flex center w100 from '../../styles/utilities/layout.module.css';
}

.flexColumn {
    composes: flex column gapSm from '../../styles/utilities/layout.module.css';
}

.flexColumnCenter {
    composes: flex column center from '../../styles/utilities/layout.module.css';
}

.contentWrapper {
    composes: maxScreenSize w100 px1 relative from '../../styles/utilities/layout.module.css';
}

.headerWrapper {
    composes: flex between center w100 from '../../styles/utilities/layout.module.css';
    height: var(--header-wrapper-height);
}
