@import '../../styles/utilities/layout.module.css';

.flexBetween {
    composes: flex between w100 from '../../styles/utilities/layout.module.css';
}

.flexCenter {
    composes: flex center w100 from '../../styles/utilities/layout.module.css';
}

.flexColumn {
    composes: flex column gapSm from '../../styles/utilities/layout.module.css';
}
