.flex {
    display: flex;
}

.inlineFlex {
    display: inline-flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.between {
    align-items: center;
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.w100 {
    width: 100%;
}

.maxScreenSize {
    max-width: 1280px;
}

.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
